<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
    id="WebApp_ID" version="3.0">
    <display-name>midsem</display-name>

    <!-- Servlet mappings for your five servlets -->
    <servlet>
    	<servlet-name>AcademicUnitServlet</servlet-name>
    	<servlet-class>com.auca.service.AcademicUnitServlet</servlet-class>
	</servlet>
	<servlet-mapping>
    	<servlet-name>AcademicUnitServlet</servlet-name>
    	<url-pattern>/AcademicUnitServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
    	<servlet-name>SemesterServlet</servlet-name>
    	<servlet-class>com.auca.service.SemesterServlet</servlet-class>
	</servlet>
	<servlet-mapping>
    	<servlet-name>SemesterServlet</servlet-name>
    	<url-pattern>/SemesterServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
    	<servlet-name>CourseServlet</servlet-name>
    	<servlet-class>com.auca.service.CourseServlet</servlet-class>
	</servlet>
	<servlet-mapping>
    	<servlet-name>CourseServlet</servlet-name>
    	<url-pattern>/CourseServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
    	<servlet-name>TeacherServlet</servlet-name>
    	<servlet-class>com.auca.service.TeacherServlet</servlet-class>
	</servlet>
	<servlet-mapping>
    	<servlet-name>TeacherServlet</servlet-name>
    	<url-pattern>/TeacherServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
    	<servlet-name>StudentServlet</servlet-name>
    	<servlet-class>com.auca.service.StudentServlet</servlet-class>
	</servlet>
	<servlet-mapping>
    	<servlet-name>StudentServlet</servlet-name>
    	<url-pattern>/StudentServlet</url-pattern>
	</servlet-mapping>
	
    

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>default.html</welcome-file>
        <welcome-file>default.htm</welcome-file>
        <welcome-file>default.jsp</welcome-file>
    </welcome-file-list>
</web-app>
